{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block title %}
  Password reset confirmation
{% endblock %}

{% block content %}
  {% if validlink %}
    <form action="" method="post" class="form-horizontal">
      {% csrf_token %}
      {{ form|as_bootstrap }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Reset my password</button>
      </div>
    </form>
  {% else %}
    <h1>Password reset unsuccessful</h1>
    <p>
    The password reset link was invalid,
    possibly because it has already been used.
    Please request a new password reset
    </p>
  {% endif %}
{% endblock %}
