{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
    <meta content='initial-scale=1.0, user-scalable=no' name='viewport'>
    <title>{% block title %}Main{% endblock %} | Infra</title>
    <link href='{{ MEDIA_URL}}css/main.css' rel='stylesheet'>
    <link href='{{ MEDIA_URL}}css/bootstrap.min.css' rel='stylesheet'>
    <link href='{{ MEDIA_URL}}css/bootstrap-responsive.min.css' rel='stylesheet'>
    <link href='{{ MEDIA_URL}}css/font-awesome.css' rel='stylesheet'>
    <link href='{{ MEDIA_URL}}favicon.ico' rel='shortcut icon' type='image/x-icon'>
    <script src='{{ MEDIA_URL}}js/jquery-1.7.2.min.js'></script>
    <script src='{{ MEDIA_URL}}js/bootstrap.min.js'></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class='navbar'>
      <div class='navbar-inner'>
        <div class='container'>
          <h3>
            <a class='brand' href='{% url 'auth_profile' %}'>
              <i class='icon-random'></i>
              base48
            </a>
          </h3>
          <ul class='nav'>
              {% if user.is_authenticated %}
              <li>
                <a href='{% url 'auth_logout' %}'>Logout</a>
              </li><li>
                <a href='{% url 'auth_profile' %}'>View profile</a>
              </li><li>
                <a href='{% url 'auth_profile_edit' %}'>Edit profile</a>
              </li><li>
                <a href='{% url 'auth_password_change' %}'>Change password</a>
              </li>
                {% if user.is_staff %}
                  <li>
                    <a href='{% url 'admin:index' %}'>Administration</a>
                  </li>
                {% endif %}
                {% with user.get_profile as p %}
                  {% if p.accepted or user.is_superuser %}
                    <li>
                      <a href='{% url 'members' %}'>Members overview</a>
                    </li>
                    <li>
                      <a href='{% url 'members_list' %}'>Member list</a>
                    </li>
                    <li>
                      <a href='{% url 'payments' %}'>Finance</a>
                    </li>
                  {% endif %}
                {% endwith %}
              {% else %} {# not logged in #}
              <li>
                <a href='{% url 'auth_login' %}'>Login</a>
              </li><li>
                <a href='{% url 'auth_password_reset' %}'>Reset password</a>
              </li><li>
                <a href='{% url 'registration_register' %}'>Registration</a>
              </li>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='container'>
      {% block content %}{% endblock %}
    </div>
  </div>
</html>
