{% extends "base.html" %}
{% load payments_extras %}

{% block title %}Members overview{% endblock %}

{% block content %}
    <h2>Summary</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td> Number of paying members: </td>
        <td> {{ paying|length }} </td>
      </tr><tr>
        <td> Number of non-paying members: </td>
        <td> {{ not_paying|length }} </td>
      </tr><tr>
        <td> Number of awaiting members: </td>
        <td> {{ not_accepted|length }} </td>
      </tr>
    </table>
{% endblock %}
