{% extends "base.html" %}
{% load payments_extras %}

{% block title %}Your profile{% endblock %}

{% block content %}
    <h2>Your profile</h2>
    {% with user as usr %}
      {% include "user_details.html" %}
    {% endwith %}
    {% if user.payment_set.all %}
      <h2>Your payments</h2>
      <table class="table table-striped table-bordered">
        {% for payment in user.payment_set.all %}
          <tr>
            <td>
              {{ payment.date }}
            </td>
            <td>
              {{ payment.amount }}
            </td>
            <td>
              {% if not payment.parse %}
                <span class="label label-important">
                  Incorrect format
                </span>
              {% else %}
                <span class="label label-success">
                  Ok
                </span>
              {% endif %}
            </td>
            <td>
              {% if not payment.parse %}
                Your message: '{{ payment.message }}'
              {% else %}
                {{ payment.parse|format_payment }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
{% endblock %}
